.header{
    background-color: #03506f;
    width: 100%;
    height: 140px;
    margin: 0 auto;
    text-align: center;
}
.backGround{
    background-color: #0a043c;
    width: 100%;
    height: 2000px;
    position: absolute;
}
.cardMovie{
    background-color: #bbbbbb;
    margin: 0 auto;
    width: 50%; /* Valor da Largura */
    border-radius: 10px;
    position: relative;
    margin-top: 15px;   
}

p{
    text-align: center;
    font-family: fantasy;
}
.img{
    margin-left: 2%;
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}