/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

a:hover{
    background-color: red;
    height: 2px;
    align-items: center;
    position: relative;
    bottom: 0;
    margin-bottom: 5px;
}
